body {
  background-color: #396EB0;
  color: #fff;
  font-family: "Montserrat";
}

h1 {
  text-align: center;
  font-family: 'Merriweather', sans-serif;
  font-weight: bold;
  font-size: 4rem;  
}

.colored-section {
  background-color: #2E4C6D;
}

.navbar {
  padding: auto;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

.container {
  margin-top: 3rem;
  height: 1300px; 
  display: flex;
  justify-content: center;
}

#list-title {
  padding: 2rem 0;
  /* background-color: #2E4C6D; */
}

#list {
  text-align: center;
  height: 1100px;
  border: #2FA4FF;
  border-style: groove;
}

ul {
  list-style-type: none;
}

#movie-list {    
  overflow-y: auto;  
  margin: 2rem;
  max-width: calc(100vw - 2rem);
}

#movie-list img {
  flex: 1 0 auto;
  height: 240px;
  width: 12rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

/* .marquee {
  overflow: hidden;
  position: relative;
  height: 1100px;
  animation: MarqueeDown linear 18s infinite;
}
@keyframes MarqueeDown
{
  0% { top: -100% }
  100% { top: 100% }
} */

#movie-detail {
  padding-top: 2rem;
  position: relative;
  text-align: center;
}

.poster {
  height:50rem;
}

.genre, .year, .title {
  position: absolute;
  left: 390px;
  padding: 0.25rem 5rem 0.25rem 1rem;
  background-color: #9AD0EC;
  color: #000;
}

.title {
  bottom: 110px;
}

.genre {
  bottom: 60px;
}

.year {
  bottom: 10px;
}

form {
  border: #2FA4FF;
  border-style: groove;
}

#search-movies {
  padding-top: 8rem;
}

#search-form {
  display: flex;
  padding: 150px;
  justify-content: flex-start;
}

.commentsAndRating, .buttons {
  margin-top: 2rem;
  padding-left: 25rem;
}

.deleteBtn, .saveBtn {
  margin-left: 1.5rem;
}

p.movie-comment {
  font-size: 1.3rem;
}